{
	"presets": [
		[
			"next/babel",
			{
				"class-properties": {},
				"preset-react": {
					"runtime": "automatic"
				}
			}
		]
	],
	"plugins": [
		"lodash",
		"polished",
		[
      "babel-plugin-styled-components",
      {
        "ssr": true,
				"displayName": true,
        "preprocess": false
      }
    ],
		[
			"module-resolver",
			{
				"alias": {
					"router": "./src/router",
          "components": "./src/components",
          "core": "./src/core",
          "config": "./src/config"
				}
			}
		]
	]
}
