{
	"presets": [
		[
			"next/babel",
			{
				"class-properties": {},
				"preset-react": {
					"runtime": "automatic"
				}
			}
		]
	],
	"plugins": [
		"lodash",
		"polished",
		[
      "babel-plugin-styled-components",
      {
				"minify": true,
        "ssr": true,
				"displayName": false,
        "preprocess": false
      }
    ],
		[
			"module-resolver",
			{
				"alias": {
					"router": "./src/router",
          "components": "./src/components",
          "core": "./src/core",
          "config": "./src/config"
				}
			}
		]
	],
	// Config for Development Environment only
	"env" : {
		"development": {
			"plugins": [
				[
					"babel-plugin-styled-components",
					{
						"minify": false,
						"ssr": true,
						"displayName": true,
						"preprocess": false
					}
				]
			]
		}
	}
}
